@import "./variables.scss";

.about {
  width: 100%;
  min-height: 100vh;
  height: 1050px;
  max-height: 1100px;
  background-image: url("./images/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient {
    width: 100%;
    height: 101%;
    background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 20.63%,
      #0e0e0e 99.74%
    );
  }

  &__gradient2 {
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    opacity: 0.9;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

//swiper
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 800px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.slide-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: 642px;
      height: 3px;
      position: absolute;
      bottom: -10px;
      left: 0px;
      background-color: $main-color;
      z-index: 10;
    }
  }

  &__descr {
    width: 365px;
    font-size: 18px;
    margin-right: 20px;
    align-self: flex-end;
    line-height: 1.2;
    margin-top: 60px;
    position: relative;
    text-align: justify;

    &::after {
      display: block;
      content: "";
      width: 122px;
      height: 6px;
      background-color: $secondary-color;
      position: absolute;
      bottom: 2px;
      right: 77px;
      z-index: -1;
    }

    span {
      font-weight: 700;
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: $main-color;
}

.swiper-pagination span {
  background-color: $main-color;
}

.slide-text__block {
  h3 {
    font-family: $secondary-font-family;
    font-size: 24px;
    color: $main-color;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  h2 {
    width: 410px;
    font-family: $secondary-font-family;
    font-size: 80px;
    color: $main-color;
    line-height: 1;
    letter-spacing: 3px;
  }
}

.swiper-slide:nth-child(3) {
  .slide-text__descr::after {
    left: 0px;
    right: 0px;
    width: 159px;
  }
}

.swiper-slide:nth-child(4) {
  .slide-text__descr::after {
    right: 132px;
    width: 172px;
  }
}

.slide-pic {
  width: 50%;
  height: 631px;
  padding: 10px;
  margin-top: 100px;
  position: relative;
  display: flex;
}

.slide-pic__item {
  &:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 500px;
    height: 610px;

    img {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  &:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 440px;
    height: 565px;
    opacity: 0.9;
    z-index: 4;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 3;
    opacity: 0.8;
    width: 440px;
    height: 512px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .about {
    height: 650px;
    max-height: 700px;
  }

  .swiper {
    width: 300px;
    height: 650px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 18px;
  }

  .swiper-slide {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    justify-content: center;
  }

  .slide-text {
    display: block;
    width: 100%;
  }

  .slide-text__block {
    h2 {
      width: 271px;
      font-size: 33px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &::after {
      bottom: -25px;
      height: 2px;
      width: 299px;
    }
  }

  .slide-pic {
    width: 100%;
    margin-top: 10px;
  }

  .slide-pic__item {
    margin-top: 40px;
    height: 275px;
    width: 225px;
    border-radius: 3px;
    margin-left: 20px;
  }

  .slide-pic__item:nth-child(1) {
    width: 225px;
    height: 275px;
  }

  .slide-pic__item:nth-child(2) {
    width: 196px;
    height: 252px;
    top: 10px;
    left: 40px;
  }

  .slide-pic__item:nth-child(3) {
    top: 20px;
    left: 50px;
    width: 196px;
    height: 230px;
  }

  .slide-text__descr {
    width: 100%;
    max-width: 280px;
    font-size: 14px;
    line-height: 1.15;
    margin-top: 50px;
    padding-left: 20px;

    &::after {
      width: 94px;
      height: 4px;
      bottom: 1px;
      right: 37px;
    }
  }

  .swiper-slide:nth-child(3) {
    .slide-text__descr::after {
      left: 79px;
      width: 123px;
    }
  }

  .swiper-slide:nth-child(4) {
    .slide-text__descr::after {
      right: 36px;
      width: 135px;
    }
  }

  .swiper-slide:nth-child(4) {
    .slide-pic {
      margin-top: 25px;
    }
  }

  .swiper-button-prev {
    left: -7px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 73%;
  }
}

@media screen and (max-height: 320px) {
  .swiper {
    width: 528px;
    height: 640px;
  }

  .swiper-slide {
    align-items: center;
  }

  .slide-text__block {
    h2 {
      width: 520px;
    }

    &::after {
      width: 528px;
    }
  }

  .slide-pic {
    width: 55%;
    height: 330px;
    margin: 0 auto;
  }

  .slide-text__descr {
    max-width: 528px;

    &::after {
      right: 26px;
    }
  }

  .swiper-slide:nth-child(3) {
    .slide-text__descr::after {
      left: 20px;
      width: 45px;
    }
  }

  .swiper-slide:nth-child(4) {
    .slide-text__descr::after {
      right: 164px;
      width: 135px;
    }
  }

  .swiper-button-prev {
    left: -7px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 65%;
  }
}
