@import "./variables.scss";

.about {
  width: 100%;
  height: 100vh;
  background-image: url("./images/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 20.63%,
      #0e0e0e 99.74%
    );
  }

  &__gradient2 {
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    opacity: 0.9;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50px);
  }
}

.about__inner__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: 712px;
      height: 3px;
      position: absolute;
      bottom: -10px;
      left: 0px;
      background-color: $main-color;
      z-index: 10;
    }
  }

  &__descr {
    width: 365px;
    font-size: 18px;
    margin-right: 20px;
    align-self: flex-end;
    line-height: 22px;
    margin-top: 60px;
    position: relative;
    text-align: justify;

    &::after {
      display: block;
      content: "";
      width: 122px;
      height: 6px;
      background-color: $secondary-color;
      position: absolute;
      bottom: 2px;
      right: 77px;
      z-index: -1;
    }

    span {
      font-weight: 700;
    }
  }
}

.about__inner__text__title {
  h3 {
    font-family: $secondary-font-family;
    font-size: 24px;
    color: $main-color;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  h2 {
    width: 410px;
    font-family: $secondary-font-family;
    font-size: 80px;
    color: $main-color;
    line-height: 80px;
    letter-spacing: 3px;
  }
}

//slider
.about__slider {
  width: 50%;
  height: 631px;
  padding: 10px;
  margin-top: 100px;
  position: relative;
  display: flex;
}

.about__slider__item {
  &:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 500px;
    height: 610px;

    img {
      position: relative;
    }
  }

  &:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 440px;
    height: 565px;
    opacity: 0.9;
    z-index: 4;
  }

  &:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 3;
    width: 438px;
    height: 512px;
    opacity: 0.8;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 7px;
  }
}

.about__slider__item__rounds {
  position: absolute;
  bottom: 5%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 110px;

  &__item {
    width: 14px;
    height: 14px;
    border: 1px solid $main-color;
    border-radius: 50%;
    cursor: pointer;
  }
}

.about__slider__item__rounds__item:nth-child(1) {
  position: relative;

  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    background-color: $main-color;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}

.about__slider__item__rounds__item_active {
  background-color: $main-color;
}

.about__slider__switch {
  position: absolute;
  right: 0px;
  top: 50%;
}

@media screen and (max-width: 320px) {
  .about__inner {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    justify-content: center;
    transform: translateY(0px);

    &__text {
      display: block;
      width: 100%;
    }
  }

  .about__inner__text__title {
    h2 {
      width: 271px;
      font-size: 33px;
      line-height: 33px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &::after {
      bottom: -15px;
      height: 2px;
      width: 299px;
    }
  }

  //slider

  .about__slider {
    width: 100%;
    margin-top: 20px;
    height: 300px;
    margin-left: 20px;
  }

  .about__slider__item:nth-child(1) {
    width: 225px;
    height: auto;
  }

  .about__slider__item:nth-child(2) {
    width: 196px;
    height: 252px;
    top: 10px;
    left: 40px;
  }

  .about__slider__item:nth-child(3) {
    width: 196px;
    height: auto;
    top: 20px;
    left: 50px;
  }

  .about__slider__item__rounds {
    bottom: 3%;
    padding: 0px 50px;
  }

  .about__slider__item__rounds__item {
    width: 10px;
    height: 10px;

    &:nth-child(1)::after {
      height: 1px;
      width: 15px;
    }
  }

  .about__inner__text__descr {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px;
    padding-left: 20px;

    &::after {
      width: 94px;
      height: 4px;
      bottom: 1px;
      right: 37px;
    }
  }

  .about__slider__switch {
    right: 20px;
    & a svg {
      height: 16px;
      width: 8px;
    }
  }
}
