@import "./variables.scss";

.footer {
  position: absolute;
  bottom: 0%;
  padding: 50px 0px;
  left: 0%;
  right: 0%;
  color: white;
  z-index: 1000;

  hr {
    margin: 20px 0px;
    opacity: 0.5;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-menu {
  display: flex;
}

.footer-navbar {
  display: flex;
}

.footer-socbar {
  display: flex;
}

.footer-navbar__item {
  margin-right: 40px;

  &:nth-child(5) {
    margin-right: 80px;
  }
}

.footer-navbar__link {
  transition: all linear 0.2s;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $main-color;

  &:hover {
    color: #e93830;
  }
}

.footer-socbar__item {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &:last-child {
    margin-right: 0;
  }
}

.footer-logo__img {
  width: 90px;
  height: 90px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-rights {
  font-size: 14px;
  line-height: 1.4;
  color: $main-color;
  opacity: 0.5;
}

.footer-info {
  display: flex;

  &__link {
    color: $main-color;
  }
}

.footer-info__item {
  margin-right: 20px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &:nth-child(2) {
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $main-color;
      position: absolute;
      top: 0px;
      left: -10px;
    }

    &::after {
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $main-color;
      position: absolute;
      top: 0px;
      right: -10px;
    }
  }

  &:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .footer {
    position: static;
    display: block;
    background: #0e0e0e;

    hr {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    margin-top: 50px;
    margin-bottom: 30px;

    &__img {
      width: 50px;
      height: 50px;
    }
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-socbar {
    padding: 0px 10px;
    justify-content: space-between;
  }

  .footer-navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-navbar__item {
    margin-right: 20px;
    margin-bottom: 10px;

    &:nth-child(1) {
      position: relative;

      &::after {
        display: block;
        content: "";
        width: 4px;
        height: 4px;
        background-color: #e93830;
        border-radius: 1px;
        position: absolute;
        top: -20%;
        left: 50%;
      }
    }

    &:nth-child(3) {
      margin-right: 0px;
    }
    &:nth-child(4) {
      margin-bottom: 50px;
    }
    &:nth-child(5) {
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
  }

  .footer-rights {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;

    &__item {
      margin-bottom: 15px;
      margin-right: 0px;
    }
  }

  .footer-info__item:last-child {
    margin-bottom: 0px;
  }
}
