@import "./variables.scss";

/* section INTRO */
.intro {
  width: 100%;
  height: 100vh;
  background-image: url("./images/Group\ 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0.3) 20%,
      rgba(52, 44, 29, 0.40319) 63.22%,
      #0e0e0e 97.74%
    );
    position: relative;
  }
}

.section-name__intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -30px);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
  }

  &__scroll {
    width: 25px;
    height: 12px;
    animation: movingscroll 2s linear infinite;
  }
}

.intro-slide {
  display: none;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 42px;
    height: 10px;
  }
}

.intro-slide__item {
  width: 10px;
  height: 10px;
  border: 1px solid $main-color;
  border-radius: 50%;
  margin-right: 10px;

  &--active {
    background-color: $main-color;
  }
}

//button
.intro__button {
  display: flex;
  margin: 0 auto;
}

.button__text {
  margin-right: 26px;
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -13px;
    background-color: black;
    opacity: 0.5;
  }
}

@keyframes movingscroll {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .intro {
    background-image: url("./images/introMobile.jpg");
  }

  .button {
    font-size: 12px;
    width: 216px;
    padding: 12px;
    line-height: 1.6;
  }

  .section-name {
    &__title {
      display: inline-block;
      width: 310px;
      font-size: 30px;
      letter-spacing: 3px;
      line-height: 1;
      margin-bottom: 8px;
    }

    &__subtitle {
      display: inline-block;
      width: 250px;
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 1;
      letter-spacing: 3px;
    }
  }

  .intro-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
  }

  .intro-slide {
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    background-image: url("./images/Group\ 1.jpg");
  }

  .intro-footer {
    bottom: 10px;
  }
}
