@import './variables.scss';

/* section INTRO */
.intro {
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__gradient {
        width: 100%;
        height: 100%;
        background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, .3) 20%, rgba(52, 44, 29, 0.40319) 63.22%, #0e0e0e 97.74%);
        position: relative;
    }

    &__title {
        font-size: 80px;
        letter-spacing: 3px;
        line-height: 80px;
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 30px;
        line-height: 24px;
        letter-spacing: 3px;
    }

    &__title,
    &__subtitle {
        font-family: $secondary-font-family;
        font-weight: 400;
        text-align: center;
    }

    &__title__block {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__footer__title {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 8px;
        text-align: center;
    }

    &__footer__block {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -30px);

        &__scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                img {
                    width: 20px;
                    height: 9px;
                    animation: movingscroll 2s linear infinite;
                }
            }
        }

        &__next {
            display: none;

            &__wrapper {
                display: flex;
                align-items: center;
                
                img {
                    width: 41px;
                    height: 7px;
                }
            }

            &--round {
                width: 10px;
                height: 10px;
                border: 1px solid $main-color;
                border-radius: 50%;
                margin-right: 10px;

                &:first-child {
                    background-color: $main-color;
                }
            }
        }
    }

    // introBtn
    &__btn {
        display: flex;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        background-color: #FFB548;
        padding: 18px;
        width: 266px;
        margin: 0 auto;
        border-radius: 4px;
        color: black;
        border: none;
        cursor: pointer;

        &-text {
            margin-right: 26px;
            text-transform: capitalize;
            position: relative;

            &:after {
                display: block;
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0px;
                right: -13px;
                background-color: black;
                opacity: .5;
            }
        }

        span {
            font-family: $main-font-family;
        }
    }

    //animation
    @keyframes movingscroll {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(2px);
        }
        50% {
            transform: translateY(4px);
        }
        75% {
            transform: translateY(-2px);
        }
        100% {
            transform: translateY(-2px);
        }
    }
}
