@import "./variables.scss";

.sletter {
  height: 100vh;
  background-image: url("./images/sletterBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient1 {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      78.66% 177.87% at 19.56% 37.57%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.22%,
      #0e0e0e 99.74%
    );
  }

  &__gradient2 {
    width: 100%;
    height: 100%;
    background: #0e0e0e;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
}

.sletter-left {
  width: 35%;

  &__img {
    display: block;
    width: 90%;
    height: auto;
    opacity: 0.9;
  }
}

.sletter-right {
  width: 55%;
}

.sletter-left__grad {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    45.43% 53.19% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 46.15%,
    #0e0e0e 99.74%
  );
  display: flex;
  justify-content: flex-end;
}

.section-name__sletter {
  margin-bottom: 60px;
}

.sletter-name__title {
  margin-bottom: 45px;
}

.sletter-name__subtitle {
  width: 100%;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.sletter-form {
  display: flex;
  justify-content: space-between;

  &__buttons {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 365px;
    padding: 5px 20px;
  }

  &__label {
    font-size: 14px;
    line-height: 1.4;
    color: $main-color;
    opacity: 0.5;
    margin-bottom: 3px;
  }
}

.sletter-form__input {
  font-size: 18px;
  line-height: 1.3;
  color: $main-color;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: $secondary-color;
  }

  &:focus {
    outline: 1px solid transparent;
  }
}

.button__sletter {
  display: flex;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .sletter {
    height: auto;
    background-image: url("./images/sletterMobile.png");
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    background-color: #0e0e0e;

    &__gradient1 {
      background: radial-gradient(
        81.83% 50.42% at 48.17% 30%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 77.58%,
        #0e0e0e 99.74%
      );
    }

    &__gradient2 {
      background: radial-gradient(
        25% 63.19% at 10% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 46.15%,
        #0e0e0e 99.74%
      );
    }

    &__inner {
      display: block;
    }
  }

  .sletter-left {
    display: none;
  }
  .sletter-right {
    width: 100%;
    position: relative;
  }

  .section-name__sletter {
    margin-bottom: 30px;
    padding-left: 90px;
  }

  .sletter-name__title {
    margin-bottom: 20px;
    font-size: 33px;
    width: 100%;
  }

  .sletter-name__subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .section-name__descr {
    font-size: 14px;
    line-height: 1.4;
  }

  .sletter-form {
    display: block;

    &__buttons {
      width: 100%;
      margin-bottom: 20px;
    }

    &__label {
      font-size: 12px;
      line-height: 1.4;
    }

    &__input {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  .button__sletter {
    width: 100%;
    font-size: 12px;
    padding: 12px;
  }
}
