@import "./variables.scss";

.sletter {
  width: 100%;
  height: 100vh;
  background-image: url("./images/sletterBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient1 {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      78.66% 177.87% at 19.56% 37.57%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.22%,
      #0e0e0e 99.74%
    );
  }

  &__gradient2 {
    width: 100%;
    height: 100%;
    background: #0e0e0e;
  }
}

.sletter__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  &__left {
    width: 35%;
  }

  &__right {
    width: 55%;
  }
}

.sletter__inner__left__grad {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    45.43% 53.19% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 46.15%,
    #0e0e0e 99.74%
  );
  display: flex;
  justify-content: flex-end;

  img {
    display: block;
    width: 90%;
    height: auto;
    opacity: 0.9;
  }
}

.sletter__inner__right__title {
  margin-bottom: 60px;

  h2 {
    width: 100%;
    font-family: $secondary-font-family;
    font-size: 80px;
    color: $main-color;
    line-height: 80px;
    letter-spacing: 3px;
    margin-bottom: 45px;
  }

  h3 {
    font-family: $secondary-font-family;
    font-size: 24px;
    color: $main-color;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    color: $main-color;
  }
}

.sletter__inner__right__form {
  display: flex;
  justify-content: space-between;
}

.sletter__inner__right__buttons__input {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  width: 365px;
  padding: 5px 20px;

  label {
    font-size: 14px;
    line-height: 19px;
    color: $main-color;
    opacity: 0.5;
    margin-bottom: 3px;
  }

  input {
    font-size: 18px;
    line-height: 25px;
    color: $main-color;
    border: none;
    background-color: transparent;
  }
}

.sletter__inner__right__buttons__input > input::placeholder {
  color: $secondary-color;
}

.sletter__inner__right__buttons__input > input:focus {
  outline: none;
}

.sletter__inner__right__buttons__sub {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color: #ffb548;
  padding: 18px;
  width: 266px;
  margin: 0;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .sletter {
    height: auto;
    background-image: url("./images/sletterMobile.png");
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    background-color: #0e0e0e;

    &__gradient1 {
      background: radial-gradient(
        81.83% 50.42% at 48.17% 30%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 77.58%,
        #0e0e0e 99.74%
      );
    }

    &__gradient2 {
      background: radial-gradient(
        25% 63.19% at 10% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0) 46.15%,
        #0e0e0e 99.74%
      );
    }
  }

  .sletter__inner {
    display: block;

    &__left {
      display: none;
    }
    &__right {
      width: 100%;
      position: relative;
    }
  }

  .sletter__inner__right__title {
    margin-bottom: 30px;
    padding-left: 90px;

    h2 {
      margin-bottom: 20px;
      font-size: 33px;
      line-height: 33px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .sletter__inner__right__form {
    display: block;
  }

  .sletter__inner__right__buttons__input {
    width: 100%;
    margin-bottom: 20px;

    label {
      font-size: 12px;
      line-height: 16px;
    }

    input {
      font-size: 14px;
      line-height: 19px;
    }
  }
  .sletter__inner__right__buttons__sub {
    width: 100%;
    font-size: 12px;
    padding: 12px;
  }
}
